			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="images/slide/slide-bg.png" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box' style="width: 25%;margin: 0 auto !important;">
								<img class="profile-thumbnail" src="images/slide/profile.png" />
							</div>
						</div>
						<div class='col-xs-8' style="width: 36%; margin: 0 auto; padding-top: 3%;">
							<div class='box profile-text'>
								<strong>Jane Doe</strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Elements</li>
				</ul>

				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Verifications</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="#pageone" data-ajax='false' data-icon="false">Create Verifications</a></li>
						<li><a href="#pagetwo" data-ajax='false' data-icon="false">View Verifications</a></li>
					</ul>
				</div>

				<div data-role="" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3 data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right" class="h3_1"><a href="index.html#pageverify" class="a_ref">My Subscriptions</a></h3>
					<!--<ul data-role="listview" data-icon="false">
						<li><a href="#pagethree" data-ajax='false'>Create Verification</a></li>
						<li><a href="#pagefour" data-ajax='false'>View Verification</a></li>
					</ul>-->
				</div>

				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Help Desk</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="index.html#helpdesk" data-ajax='false'>Create Help Desk</a></li>
						<li><a href="index.html#view1" data-ajax='false'>View Open Ticket</a></li>
						<li><a href="index.html#view2" data-ajax='false'>View Cleared Open Tickets</a></li>
					</ul>
				</div>

				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Verified Report</h3>
					<!--<ul data-role="listview" data-icon="false">
						<li><a href="/examples/extended/tabs.html" data-ajax='false'>Create Subscription Packages</a></li>
						<li><a href="/examples/extended/cards.html" data-ajax='false'>View Subscription Packages</a></li>
					</ul>-->
				</div>


				<!--<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Help Desk</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/examples/extended/tabs.html" data-ajax='false'>Create Help Desk</a></li>
						<li><a href="/examples/extended/cards.html" data-ajax='false'>View Help Desk</a></li>
					</ul>
				</div>
			-->
			
				
			</div>
			<!-- /panel left -->
