<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.advs.manhummel.lpa" version="1.1.0">
  <name>WATCHGUARD_camera</name>
  <description>WATCHGUARD_camera</description>
  <author href="http://advicesync.com" email="support@advicesync.com">eImpressive</author>
  <content src="index.html"/>
<uses-permission android:name="android.permission.CAMERA"/> 
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 <uses-permission android:name="android.permission.INTERNET">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 </widget>
