<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.advs.manhummel.lpa" version="1.1.0">
  <name>WATCHGUARD_exit</name>
  <description>WATCHGUARD_exit</description>
  <author href="http://advicesync.com" email="support@advicesync.com">eImpressive</author>
  <content src="index.html"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
   <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

  <plugin name="DatePickerPlugin" value="com.bikasv.plugins.datepicker.DatePickerPlugin"/>


<!-- iOS Specific Fixes -->
  <gap:plugin name="com.phonegap.plugin.statusbar" />

  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#000000" />

  <gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>

<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>

 <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
 </feature>

  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="UIWebViewBounce" value="false" />

  <icon src="icon.png"/>
<!-- android -->
  <icon src="www/images/icon/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/images/icon/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/images/icon/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/images/icon/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="www/images/icon/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
<!-- android end-->
  <icon src="www/images/icon/blackberry/icon-80.png" gap:platform="blackberry"/>
  <icon src="www/res/icon/blackberry/icon-80.png" gap:platform="blackberry" gap:state="hover"/>


  <!-- ios -->
  <icon src="icon.png" gap:platform="ios" width="57" height="57"/>
  <icon src="icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="icon@2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="icon-72@2x.png" gap:platform="ios" width="144" height="144"/>

  <icon src="www/images/icon/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="www/images/icon/icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="www/images/icon/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="www/images/icon/icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="www/images/icon/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- Settings Icon -->
<icon src="www/images/icon/icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="www/images/icon/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- Spotlight Icon -->
<icon src="www/images/icon/icon-40.png" gap:platform="ios" width="40" height="40" />
<icon src="www/images/icon/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

<icon src="www/images/icon/icon-50.png" gap:platform="ios" width="50" height="50" />
<icon src="www/images/icon/icon-50@2x.png" gap:platform="ios" width="100" height="100" />
   <!-- ios end-->
  <icon src="www/res/icon/webos/icon-64.png" gap:platform="webos"/>
  <!-- windows -->
  <icon src="www/images/icon/icon.png" gap:platform="winphone"/>
  <icon src="www/images/icon/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
  <icon src="tileicon.png" gap:platform="winphone" gap:role="background" />
  
    <icon src="Background.png" gap:platform="winphone"/>
 <!--  <icon src="Background.png" gap:platform="winphone" gap:role="background"/> -->
      <icon src="ApplicationIcon.png" gap:platform="winphone"/>
<!--   <icon src="ApplicationIcon.png" gap:platform="winphone" gap:role="background"/> -->
  <!-- windows end -->


                                                <!--splash screen-->
<!-- android -->
  <gap:splash src="www/images/screen/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="www/images/screen/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="www/images/screen/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="www/images/screen/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
<!-- android icon not added-->
<gap:splash src="www/images/screen/fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
<gap:splash src="www/images/screen/portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="www/images/screen/landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
<!-- android icon not added end-->
<!-- android end-->

  <gap:splash src="www/res/screen/blackberry/screen-225.png" gap:platform="blackberry"/>
    <!-- ios -->
  <gap:splash src="screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>

<!-- iPhone 6 -->
<gap:splash src="Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />


<!-- Retina iPad -->
<gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />
   <!-- ios end-->
  <!-- windows -->  
  <gap:splash src="www/images/screen/screen-portrait.jpg" gap:platform="winphone"/>
    <gap:splash src="SplashScreenImage.jpg" gap:platform="winphone"/>
    <gap:splash src="www/images/winphone/splash.jpg" gap:platform="winphone" />
  <!-- windows end --> 

  <access origin="*"/>
</widget>




