/*24/8/2015 login modifications*/
/*
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
  background-color: inherit !important;
}


@media screen and (orientation: portrait) {
.ui-mobile .ui-page {
    min-height: 420px
}
.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
    overflow-x: hidden;
}
}

.bg {
  background-image: url("../images/bg.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.img_logo {
  vertical-align: center;
}
.ui-content {
  padding: 0px !important;
}
.input-icon.left i {
    color: #ccc;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 1px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.input-icon.left input {
    padding-left: 33px !important;
}


.input-icon.left input {
    padding-left: 50px !important;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;

    text-align: left;

    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.input_text {
      background: rgba(255, 255, 255, 0) !important;
      color:#fff !important;
        text-shadow:none !important;
            border: none !important;
    box-shadow: none !important;
    width:100%;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit {

  background-color: none !important;
}

.footer_1 {
      background: none !important;
    border: none !important;
    box-shadow: none !important;
}


.login .content .create-account {
    padding-top: 10px;
    margin-top: 15px;
}

.login .content p, .login .content label {
    color: #fff;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

.ui-input-text:after, .ui-input-search:after {
  height: 0px !important;
}

.sign_in {
    padding: 6% !important;
    background: none !important;
    box-shadow: none !important;

    color: rgba(255, 255, 255, 0.78) !important;
    background: rgba(183, 183, 183, 0.45) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.grid_mar {
    width: 60% !important; 
    margin: 0 auto;
}

.img_sign {
    width: 14px !important;
    height: 14px !important;
    padding-left: 5px;
    margin: 0px !important;
}

.a_mar {
        text-align: center !important;
    margin-left: -40px !important;
}
.ui-content{
    padding: 0.5em !important;
}

.nd2-sidepanel-profile .profile-thumbnail {
 
    height: auto;
    width: 70px !important;
    border-radius: 50%;
    overflow: hidden;
    margin: -0.8em auto;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.05);
}
.box1 {
        width: 50% !important;
    margin: 0 41px !important;
        padding-top: 5px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sign_in {
   padding: 3% !important;
    background: none;
    box-shadow: none;

    color: rgba(255, 255, 255, 0.78);
    background: rgba(183, 183, 183, 0.45);
    font-weight: 400;
    font-size: 14px;
}   
}




.img_new {
    width: 50px;
    height: 50px
    margin-bottom: -3px !important;

}

.grid_text {
    text-align: center !important;
    white-space: inherit !important;
}

.grid-bottom {
        border-bottom: 1px solid #DCD2D2;
        border-top: 1px solid #DCD2D2;
            background-color: rgba(128, 128, 128, 0.1);
}
.grid_right {
        border-right: 1px solid #DCD2D2 !important;
        min-height: 140px !important;
    max-height: 100px !important;
}


.tabsss{

    margin: 0;
    padding: 0 !important;
    font-size: 13px !important;
    padding: 5px !important;
}*/


/*24/8/2015 login modifications*/
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
  background-color: inherit !important;
}


@media screen and (orientation: portrait) {
.ui-mobile .ui-page {
    min-height: 420px;
}
.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
    overflow-x: hidden;
}
}

.bg {
  background-image: url("../images/bg.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.img_logo {
  vertical-align: center;
}
.ui-content {
  /*padding: 0px !important;*/
}
.input-icon.left i {
    color: #ccc;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 1px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.input-icon.left input {
    padding-left: 33px !important;
}


.input-icon.left input {
    padding-left: 50px !important;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;
    /* min-height: 20px !important; */
    text-align: left;
    /*border: 0;*/
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.input_text {
      background: rgba(255, 255, 255, 0) !important;
      color:#fff !important;
        text-shadow:none !important;
            border: none !important;
    box-shadow: none !important;
    width:100%;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit {

  background-color: none !important;
}

.footer_1 {
      background: none !important;
    border: none !important;
    box-shadow: none !important;
}


.login .content .create-account {
    padding-top: 10px;
    margin-top: 15px;
}

.login .content p, .login .content label {
    color: #fff;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

.ui-input-text:after, .ui-input-search:after {
  height: 0px !important;
}

.sign_in {
    padding: 6% !important;
    background: none !important;
    box-shadow: none !important;

    color: rgba(255, 255, 255, 0.78) !important;
    background: rgba(183, 183, 183, 0.45) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.grid_mar {
    width: 60% !important; 
    margin: 0 auto;
}

.img_sign {
    width: 14px !important;
    height: 14px !important;
    padding-left: 5px;
    margin: 0px !important;
}

.a_mar {
        text-align: center !important;
    margin-left: -40px !important;
}
.ui-content{
    /*padding: 0.5em !important;*/  
}

.nd2-sidepanel-profile .profile-thumbnail {
    /* width: 80%; */
    height: auto;
    width: 70px !important;
    border-radius: 50%;
    overflow: hidden;
    margin: -0.8em auto;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.05);
}
.box1 {
        width: 50% !important;
    margin: 0 41px !important;
        padding-top: 5px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sign_in {
   padding: 3% !important;
    background: none;
    box-shadow: none;

    color: rgba(255, 255, 255, 0.78);
    background: rgba(183, 183, 183, 0.45);
    font-weight: 400;
    font-size: 14px;
}   
}


/*design new styles */

.img_new {
    width: 50px;
    height: 50px;
    margin-bottom: -3px !important;

}

.grid_text {
    text-align: center !important;
}

.grid-bottom {
        border-bottom: 1px solid #DCD2D2;
        border-top: 1px solid #DCD2D2;
}
.grid_right {
        border-right: 1px solid #DCD2D2 !important;
}


/*tabs height reduce*/

.tabsss{

    margin: 0;
    padding: 0 !important;
    font-size: 13px !important;
    padding: 5px !important;
}





.pra_bg {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    -moz-box-shadow: 0 0 5px 5px #888;
    /* -webkit-box-shadow: 0 0 5px 5px#888; */
    /* box-shadow: 0 0 5px 5px #888; */

 

}


#fitin {
    width: 100% !important;
    font-weight: normal;
    overflow: hidden;
    font-size: 13px;
}

/*sep 7*/
/*update page code */

.li_main_bg {
        background: rgb(236, 236, 236) !important;
}
.li_list {
background: #fff !important;
    margin: 1% !important;
    border: 1px solid #ddd !important;
     border-radius: 5px;
         -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
  
}

.li_imgs {
    width: 55px !important;
    margin-top: 5% !important;
    vertical-align: top !important;
}
.li_span {
        margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
    font-weight: 400;
    text-shadow: none !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

.li_p {
        padding: 0 !important;
    margin: 0 !important;
}

.li_b {
        float: right;
    margin-top: -18%;
    font-weight: 400;
    font-size: 10px !important;

}


.li_h2 {
        padding: 0;
    margin-top: 1px !important;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
.li_b {
        float: right !important;
    margin-top: -18% !important;
    font-weight: 400;
    font-size: 10px !important;

}
}


@media screen and (min-width: 320px) and (max-width: 640px) {
.li_b {
        float: right;
    margin-top: -22%;
    font-weight: 400;
    font-size: 10px;
    margin-right: -13%;

}
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
.li_b {
        float: right;
    margin-top: -7%;
    font-weight: 400;
    font-size: 11px;
margin-right: -5%;
}
.li_imgs {
    width: 55px !important;
    margin-top: 2.5% !important;
    vertical-align: top !important;
}


}
@media screen and (min-width: 800px) and (max-width: 1280px) { 
.li_b {
        float: right;
    margin-top: -6%;
    font-weight: 400;
    font-size: 13px;

}
.li_imgs {
    width: 55px !important;
    margin-top: 2% !important;
    vertical-align: top !important;
}


}

/*laptops*/

@media screen and (min-width: 1200px) and (max-width: 1600px) { 
.li_b {
        float: right;
    margin-top: -8%;
    font-weight: 400;
    font-size: 13px;

}
.li_imgs {
    width: 55px !important;
    margin-top: 2% !important;
    vertical-align: top !important;
}


}


.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 5.50em !important;
}



/*primarydetails page*/

.pri_grid_1 {
    text-align: center !important;
}

.pri_grid_2 {
    background: #fff !important;
    padding: 0.3em;
    border-radius: 5px !important;
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
}
.pri_grid_bor {
        border-right: 1px solid #ddd;
}

.pri_span{
        font-size: 11px !important;
    color: #B3ADAD !important;
}

.pri_p{
        padding: 0;
    margin: 0;
    padding-top: 10%;
    font-size: 15px !important;
}
.pri_list {
        background: #fff !important;
    margin: 10px 0px !important;
    border-radius: 5px !important;
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
}

li {
    list-style: none !important;
}
.li_hei {
        min-height: 40px !important;
}
.li_img_pri {
    float: left !important;
    padding: 0px 13px 10px 1px;
}
.li_p_pri {
    padding: 0;
    margin: 0;
    float:left !important;
    font-size: 13px;
     color: #948B8B !important;
         padding-top: 1% !important;
}

.li_pri_left {
        border-left: 1px solid #ddd !important;

    margin: 22px 0px -27px 9px;
    padding-top: 19px;
    position: absolute;
}


/*primary message*/

.mes_solo_bg {
    background-image: url("../images/primary/bg.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
        min-height: 100px;
            padding-top: 0px !important;
}


.mes_img {
        opacity: 0.9;
    padding: 4% 14px 0px 13%;
    float: left;
}
.msg_h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.81) !important;
    font-weight: 700;
    font-size: 26px;
    padding: 5% 0px 6px;
    float: none;
}

.msg_p {
     color: rgba(224, 218, 218, 0.79);
    margin: 0;
    padding: 0px 0px 0px 9px;
}

.msg_box {
       
       -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
        -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
        box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    border: 1px solid #ddd;
}

.msg_grid_3 {
        width: 20% !important;
    padding: 0px 0px 0px 13px;
}
.msg_grid_4 {
        width: 60% !important;
}
.msg_grid_5 {
        width: 20% !important;
}

.msg_grid_p_1 {
        margin: 0;
    font-weight: 400;
    font-size: 12px;
    padding: 3%;
    color: #6D6666 !important;
    text-align: justify;
}

.msg_span_3 {
        margin: 0;
    font-size: 12px;
    color: #A9A0A0 !important;
    padding: 0px 1px 1px 3px;
}



.mes_bot_icon {
        padding: 0.6em;
    background: #fff !important;
    border-radius: 5px;
}


.mes_submit_ic{
        background: rgb(241, 158 ,30) !important;
    border-radius: 0px !important;
    font-size: 12px;
    color:#fff !important;
   
}

.mes_submit_ic1{
        /*background:rgb(241,158,30) !important;*/
    border-radius: 0px !important;
    font-size: 12px;
    color:#fff !important;
}
.mes_foot {
        width: 100% !important;
    background: rgb(88,88,112) !important;
    color: #fff !important;
}
.msg_mid_bg {
    background: rgb(76, 205, 211) !important;    width: 53%;    padding: 5%; color:#fff !important;    font-size: 12px;
    float: right;}

    .msg_mid_bg {
       position: relative;
    background: rgb(76, 205, 211) !important;
        border-radius: 6px;
}
.msg_mid_bg:after, .msg_mid_bg:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.msg_mid_bg:after {
       border-color: rgba(136, 183, 213, 0) !important;
    border-left-color: rgb(76, 205, 211) !important;
    border-width: 7px;
    margin-top: -5px;
}
.msg_mid_bg:before {
       border-color: rgba(194, 225, 245, 0) !important;
    border-left-color: rgb(76, 205, 211) !important;
    border-width: 8px;
    margin-top: -7px;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
.msg_h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.81) !important;
    font-weight: 700;
    font-size: 19px !important;
    padding: 7% 0px 3px !important;
    float: none;
}

}

/*primary message*/

.mes_solo_bg {
    background-image: url("../images/primary/bg.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
        min-height: 100px;
            padding-top: 0px !important;
}


.mes_img {
        opacity: 0.9;
    padding: 4% 14px 0px 13%;
    float: left;
}
.msg_h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.81) !important;
    font-weight: 700;
    font-size: 26px;
    padding: 5% 0px 6px;
    float: none;
}

.msg_p {
     color: rgba(224, 218, 218, 0.79);
    margin: 0;
    padding: 0px 0px 0px 9px;
}

.msg_box {
       
       -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
        -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
        box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    border: 1px solid #ddd;
}

.msg_grid_3 {
        width: 20% !important;
    padding: 0px 0px 0px 13px;
}
.msg_grid_4 {
        width: 60% !important;
}
.msg_grid_5 {
        width: 20% !important;
}

.msg_grid_p_1 {
        margin: 0;
    font-weight: 400;
    font-size: 12px;
    padding: 3%;
    color: #6D6666 !important;
    text-align: justify;
}

.msg_span_3 {
        margin: 0;
    font-size: 12px;
    color: #A9A0A0 !important;
    padding: 0px 1px 1px 3px;
}



.mes_bot_icon {
        padding: 0.6em;
    background: #fff !important;
    border-radius: 5px;
}


.mes_submit_ic{
        background: rgb(241, 158 ,30) !important;
    border-radius: 0px !important;
    font-size: 12px;
    color:#fff !important;
   
}

.mes_submit_ic1{
        /*background:rgb(241,158,30) !important;*/
    border-radius: 0px !important;
    font-size: 12px;
       color: #F31212 !important;
}
.mes_foot {
        width: 100% !important;
    background: rgb(88,88,112) !important;
    color: #fff !important;
}
.msg_mid_bg {
    background: rgb(76, 205, 211) !important;    width: 53%;    padding: 5%; color:#fff !important;    font-size: 12px;
    float: right;}

    .msg_mid_bg {
       position: relative;
    background: rgb(76, 205, 211) !important;
        border-radius: 6px;
}
.msg_mid_bg:after, .msg_mid_bg:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.msg_mid_bg:after {
       border-color: rgba(136, 183, 213, 0) !important;
    border-left-color: rgb(76, 205, 211) !important;
    border-width: 7px;
    margin-top: -5px;
}
.msg_mid_bg:before {
       border-color: rgba(194, 225, 245, 0) !important;
    border-left-color: rgb(76, 205, 211) !important;
    border-width: 8px;
    margin-top: -7px;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
.msg_h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.81) !important;
    font-weight: 700;
    font-size: 19px !important;
    padding: 7% 0px 3px !important;
    float: none;
}

}



.rondell-container {
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 12px;
    background: rgba(128, 128, 128, 0.04) !important;
       background-image: url("../images/primary/bg.png") !important;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%  100% !important;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27) !important;
    box-shadow: 0 3px 7px 1px rgba(0,0,0,0.27) !important;
    margin-bottom: 2% !important;

   
}

.select_box {
  width: 98%;
  background:#ddd !important;
  padding: 1%;
}

.ui-controlgroup-horizontal .ui-btn.ui-first-child, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    background-color: #d2d2d2 !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 0px;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-checkbox-on, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-radio-on {
    background-color: #f19e1e !important;
    color: #ffffff !important;
}

.chat_box_mai {
      -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
       box-shadow: 0 0 6px rgba(0,0,0,0.27);
    margin-bottom: 5% !important;
    padding: 1%;
    margin: 1%;
    }


    .upload_box {
  width: 100%;
  height: auto;
  padding: 0.5em;
  background:#ddd;
}

.upload_box_2 {
      width: 80% !important;
    background: #fff;
    height: 36px;
    border-radius: 6px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
      div.upload {
     width: 30px !important;
    height: 30px !important;
    background: url(../images/primary/check-in.png);
    /* background-color: red; */
    background-size: 100%;
    background-repeat: no-repeat;
}
div.upload input {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    opacity: 0 !important;
}